<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <div class="row mt-5">
        <h1>Home Page</h1>
        <hr>
        <p>Greetings and welcome to Home Page!! We are delighted to see you as a part of our community. Feel free to discover, interact, and collaborate with us to create something wonderful !!</p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>